<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.huuugegames.huf.adsadmob" xmlns:tools="http://schemas.android.com/tools">
  <application android:usesCleartextTraffic="true">
    <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-1220882738324941~5282706915" />
    <meta-data android:name="applovin.sdk.key" android:value="4cGQClILnclNaflJM0vqqIM1cDbpyzU1amRnUk6FKrdwVNEsO7fCQ1D2EqrBnKCL4e7TMDph2QcXprOBz2OO4b" />
    <activity android:name="com.applovin.adview.AppLovinInterstitialActivity" />
    <activity android:name="com.applovin.adview.AppLovinConfirmationActivity" />
    <uses-library android:name="org.apache.http.legacy" android:required="false" />
  </application>
</manifest>